{{ diagram.kind }}{{ "\n" -}}
{% if diagram.title %}title {{ diagram.title }}{{ "\n" -}}{% endif %}{% for item in diagram.root_elements %}{% with element=item %}{% include template_prefix ~ "/elements/" ~ element.kind ~ ".mmd.j2" %}{% endwith %}{% endfor %}
