subgraph {{ element.id | mmd_id("e") }}[{{ element.label | mmd_quote }}]{{ "\n" -}}
{% if element.direction is not none %}
  direction {{ element.direction.value }}{{ "\n" -}}
{% endif %}
{% for child in element.elements %}
{% with element=child %}
{% call mmd.render(1) %}{% include template_prefix ~ "/elements/" ~ child.kind ~ ".mmd.j2" %}{% endcall %}
{% endwith %}
{% endfor %}
end{{ "\n" -}}
