{{ "  " * depth }}{{ element.label | tree_label }}{% for annotation in diagram.find_annotations(element.id) %}{% if annotation.highlight %} :::highlight{% endif %}{% if annotation.icon %} icon({{ annotation.icon }}){% endif %}{% if annotation.description %} ## {{ annotation.description }}{% endif %}{% endfor %}{{ "\n" }}{%- for branch in diagram.find_relations(element.id) if branch.kind == "tree_branch" and branch.parent_id == element.id %}{% with element=diagram.find_element(branch.child_id), depth=depth + 1 %}{% include template_prefix ~ "/elements/tree_item.mmd.j2" %}{% endwith %}{% endfor %}
