{% import template_prefix ~ "/macros/elements.mmd.j2" as elements with context %}
{{ diagram.kind }}{{ "\n" -}}
{% if diagram.title %}title {{ diagram.title }}{{ "\n" -}}{% endif %}
{{ elements.render(diagram.root_elements) }}
