{{ element.label }} : {% if element.critical %}crit, {% endif %}{% if element.status.value != "planned" %}{{ element.status.value }}, {% endif %}{% if element.kind == "milestone" %}milestone, {% endif %}{{ element.id }}{% if element.start.kind == "date" %}, {{ element.start.date }}{% elif element.start.kind == "dependencies" %}, after {{ element.start.task_ids | join(" ") }}{% endif %}, {% if element.finish.kind == "duration" %}{{ element.finish.amount | int if element.finish.amount % 1 == 0 else element.finish.amount }}{{ {"milliseconds": "ms", "seconds": "s", "minutes": "m", "hours": "h", "days": "d", "weeks": "w", "months": "M", "years": "y"}[element.finish.unit.value] }}{% elif element.finish.kind == "until" %}until {{ element.finish.date }}{% else %}{{ element.finish.date }}{% endif %}{{ "\n" -}}
