{% import "templates/macros/document.mmd.j2" as mmd with context %}
{{ diagram.kind }} {{ diagram.direction.value }}{{ "\n" -}}
{{ mmd.elements(diagram.root_elements, 0) }}
{{ mmd.relations(diagram.find_relations(), 0) }}
{{ mmd.annotations(diagram.find_annotations(), 0) }}
