{{ diagram.kind }}{{ "\n" -}}
{% set frames = namespace(number=0) %}
{% for item in diagram.root_elements %}{% with element=item %}{% include template_prefix ~ "/elements/" ~ element.kind ~ ".mmd.j2" %}{% endwith %}{% endfor %}
{% for item in diagram.find_relations() %}{% with relation=item %}{% include template_prefix ~ "/relations/" ~ relation.kind ~ ".mmd.j2" %}{% endwith %}{% endfor %}
