{{ element.id | mermaid_id("k") }}[{{ element.label | mermaid_quote }}]{{ "\n" -}}{% for item in element.elements %}{% with element=item %}{% include template_prefix ~ "/elements/" ~ element.kind ~ ".mmd.j2" %}{% endwith %}{% endfor %}
