flowchart {{ diagram.direction.value }}
{% for element in diagram.root_elements %}
{% with depth=1 %}
{% include "elements/" ~ element.kind ~ ".mmd.j2" %}
{% endwith %}
{% endfor %}
{% for relation in diagram.find_relations() %}
{% include "relations/" ~ relation.kind ~ ".mmd.j2" %}
{% endfor %}
{% for annotation in diagram.find_annotations() %}
{% include "annotations/" ~ annotation.kind ~ ".mmd.j2" %}
{% endfor %}
