{% macro expression(item) -%}{% if item.kind == "terminal" %}{{ item.label | mermaid_quote }}{% elif item.kind == "non_terminal" %}{{ item.label }}{% elif item.kind == "special" %}? {{ item.label }} ?{% elif item.kind == "sequence_expression" %}{% for child in item.elements %}{{ expression(child) }}{% if not loop.last %} {% endif %}{% endfor %}{% elif item.kind == "alternative_expression" %}{% for child in item.elements %}{{ expression(child) }}{% if not loop.last %} | {% endif %}{% endfor %}{% elif item.kind == "optional_expression" %}[ {{ expression(item.elements[0]) }} ]{% elif item.kind == "repetition_expression" %}{ {{ expression(item.elements[0]) }} }{% elif item.kind == "group_expression" %}( {{ expression(item.elements[0]) }} ){% endif %}{%- endmacro %}
railroad-ebnf-beta{{ "\n" -}}
{% for rule in diagram.root_elements %}{{ rule.id | mermaid_id("r") }} = {{ expression(rule) }} ;{{ "\n" -}}{% endfor %}
