{% import template_prefix ~ "/macros/expression.mmd.j2" as expression with context %}
{{ diagram.kind }}{{ "\n" -}}
{% for rule in diagram.root_elements %}{{ rule.id | mermaid_id("r") }} = {{ expression.render(rule) }} ;{{ "\n" -}}{% endfor %}
