{{ c4_kind }}({{ element.id }}, {{ element.label | mermaid_quote }}{% if element.description %}, {{ element.description | mermaid_quote }}{% endif %}{% if element.technology %}, {{ element.technology | mermaid_quote }}{% endif %}){{ "\n" -}}
