{% import "templates/syntax/sequenceDiagram/macros/participant.mmd.j2" as sequence %}
{% if relation.kind == "participant_event" %}{% set participant = diagram.find_element(relation.element_ids[0]) %}{% if relation.action == "create" %}{{ sequence.declaration(participant, "create ") }}{% else %}{{ relation.action }} {{ participant.id }}{% endif %}{% elif relation.kind == "directive" %}{{ relation.directive_kind.value }}{% else %}{{ relation.control_kind.value }}{% if relation.label %} {{ relation.label }}{% endif %}{% endif %}{{ "\n" -}}
