{{ diagram.kind }}{{ "\n" -}}
{% for domain in diagram.domain_kinds %}{% set items = diagram.root_elements | selectattr("domain", "equalto", domain) | list %}{% if items %}{{ domain.value }}{{ "\n" -}}{% for item in items %}  {{ item.label | mermaid_quote }}{{ "\n" -}}{% endfor %}{% endif %}{% endfor %}
{% for relation in diagram.find_relations() %}{{ diagram.find_element(relation.element_ids[0]).domain.value }} --> {{ diagram.find_element(relation.element_ids[1]).domain.value }}{% if relation.label %} : {{ relation.label | mermaid_quote }}{% endif %}{{ "\n" -}}{% endfor %}
