{{ diagram.kind }}{{ "\n" -}}
{% for domain in diagram.domain_kinds %}{% set items = diagram.root_elements | selectattr("domain", "equalto", domain) | list %}{% if items %}{{ domain.value }}{{ "\n" -}}{% for item in items %}{% with element=item %}{% include template_prefix ~ "/elements/" ~ element.kind ~ ".mmd.j2" %}{% endwith %}{% endfor %}{% endif %}{% endfor %}
{% for item in diagram.find_relations() %}{% with relation=item %}{% include template_prefix ~ "/relations/" ~ relation.kind ~ ".mmd.j2" %}{% endwith %}{% endfor %}
