C4Context{{ "\n" -}}
{% for item in diagram.root_elements %}{% if item.kind == "systemdb" %}SystemDb{% elif item.kind == "systemqueue" %}SystemQueue{% else %}{{ item.kind | capitalize }}{% endif %}({{ item.id }}, {{ item.label | mermaid_quote }}{% if item.description %}, {{ item.description | mermaid_quote }}{% endif %}{% if item.technology %}, {{ item.technology | mermaid_quote }}{% endif %}){{ "\n" -}}{% endfor %}
{% for relation in diagram.find_relations() %}Rel({{ relation.element_ids[0] }}, {{ relation.element_ids[1] }}, {{ relation.label | mermaid_quote }}){{ "\n" -}}{% endfor %}
