{{ relation.source_id }}{% if relation.source_label %} "{{ relation.source_label }}"{% endif %} {{ relation.relation_kind.value }}{% if relation.target_label %} "{{ relation.target_label }}"{% endif %} {{ relation.target_id }}{% if relation.label %} : {{ relation.label }}{% endif %}{{ "\n" -}}
