{% macro type(value, nested=false) -%}
{{ value.name }}{% if value.arguments %}{% if nested %}&lt;{% else %}~{% endif %}{% for argument in value.arguments %}{{ type(argument, true) }}{% if not loop.last %}{% if nested %}&comma; {% else %}, {% endif %}{% endif %}{% endfor %}{% if nested %}&gt;{% else %}~{% endif %}{% endif %}
{%- endmacro %}
{% macro visibility(value) -%}
{{ {"public": "+", "private": "-", "protected": "#", "package": "~"}[value.value] }}
{%- endmacro %}
{% macro attribute(value) -%}
{{ visibility(value.visibility) }}{{ type(value.type) }} {{ value.name }}{% if value.static %}${% endif %}
{%- endmacro %}
{% macro parameter(value) -%}
{{ type(value.type) }} {{ value.name }}
{%- endmacro %}
{% macro method(value) -%}
{{ visibility(value.visibility) }}{{ value.name }}({% for item in value.parameters %}{{ parameter(item) }}{% if not loop.last %}, {% endif %}{% endfor %}) {{ type(value.return_type) }}{{ {"instance": "", "static": "$", "abstract": "*"}[value.modifier.value] }}
{%- endmacro %}
