{{ "    " * depth }}{{ element.label | tree_label }}{% for annotation in diagram.find_annotations(element.id) %}{% include template_prefix ~ "/annotations/tree_annotation.mmd.j2" %}{% endfor %}{{ "\n" }}{%- for branch in diagram.find_relations(element.id) if branch.kind == "tree_branch" and branch.parent_id == element.id %}{% with element=diagram.find_element(branch.child_id), depth=depth + 1 %}{% include template_prefix ~ "/elements/tree_item.mmd.j2" %}{% endwith %}{% endfor %}
