{{ "    " * depth }}{{ element.label | tree_label }}{% for annotation in diagram.annotations[element.id] %}{% include "annotations/tree_annotation.mmd.j2" %}{% endfor %}{{ "\n" }}{%- for child in diagram.children[element.id] %}{% with element=child, depth=depth + 1 %}{% include "elements/tree_item.mmd.j2" %}{% endwith %}{% endfor %}
