{% import "rendering/templates/format.mmd.j2" as mmd with context %}
{{ diagram.mmd_header }}{{ "\n" -}}
{{ mmd.elements(diagram.mmd_elements) }}
{{ mmd.relations(diagram.mmd_relations) }}
{{ mmd.annotations(diagram.mmd_annotations) }}
